/Users/ji/Downloads/NeuralNetworkProcessor/src/main/resources/mnistTestData.csv
/Users/ji/Downloads/NeuralNetworkProcessor/src/main/resources/mnistTestLabels.csv
/Users/ji/Downloads/NeuralNetworkProcessor/src/main/resources/mnistTrainData.csv
/Users/ji/Downloads/NeuralNetworkProcessor/src/main/resources/mnistTrainLabels.csv
/Users/ji/Downloads/NeuralNetworkProcessor/src/main/resources/balanceExamples.csv
/Users/ji/Downloads/NeuralNetworkProcessor/src/main/resources/balanceLabels.csv